* {
  box-sizing: border-box;
}

.main-navbar{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      height: 175px;
    }

.navbar-title{
  font-size: 35px;
}



.tabs {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f5f5f8;
  width: 100%;
  gap: 5px;
  height: 59px;
  border-radius: 40px;
  padding: 0 7px;
}

.navbar-button {
  border-radius: 40px;
  font-size: 15px;
  flex: 1;
  border: none;
  height: 43px;
  background-color: transparent;
  transition: background-color 0.3s;
}

.navbar-button:hover {
  background-color: #082c6f;
  color: #fff;
  border-radius: 40px;
}

.navbar-button:focus {
  background-color: #061A3E;
  border-radius: 40px;
  color: #fff;
  outline: none;
}