@use '../../common/css/mixins';

section.contacts > article .contenu {
  .contacts__container {
    display: flex;
    flex-direction: column;
    gap: var(--padding_Base);
    width: 100%;

    @include mixins.respond-up(xl) {
      flex-direction: row;
    }
  }

  .contacts__card {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-areas:
      "icon phone"
      "icon text"
      "icon button";
    column-gap: 24px;
    border-radius: var(--border_Radius_LG);
    padding: var(--padding_LG);
    background: var(--color_Header_Bg_Elevation_Level_2);

    @include mixins.respond-up(lg) {
      grid-template-areas:
        "icon phone button"
        "icon text button";
    }

    @include mixins.respond-up(xl) {
      flex: 1;
    }
  }

  .contacts__icon {
    width: 48px;
    height: 48px;
    grid-area: icon;
    border-radius: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color_Header_Bg_Accent_Alt);

    @include mixins.respond-up(md) {
      align-self: center;
    }
  }

  .contacts__phone {
    grid-area: phone;
    margin-bottom: 8px;
    color: var(--color_Text_Highlight);
    font-size: var(--font_Size_Heading_5);
    font-style: normal;
    font-weight: 600;
    line-height: var(--font_Line_Height_Heading_5);
    text-decoration: none;
  }

  .contacts__title {
    grid-area: text;
    font-size: var(--font_Size_Body);
    margin-bottom: 16px;

    @include mixins.respond-up(md) {
      margin-bottom: 0;
      max-width: 355px;
    }

    @include mixins.respond-up(lg) {
      max-width: unset;
    }

    @include mixins.respond-up(xl) {
      max-width: 270px;
    }

    @include mixins.respond-up(2xl) {
      max-width: 340px;
    }
  }

  .prime-btn {
    grid-area: button;
    @include mixins.respond-up(md) {
      align-self: center;
    }
  }
}
